<h4><b>Comments</b></h4>
<span class="clearfix"></span>
<% @admin_journal_issue.journal_issue_comments.each do |comment| %>
      <%= image_tag "http://res.cloudinary.com/sampulkreativ/image/upload#{loaded_rand("profile", comment.admin_id)}/profiles/#{comment.admin_id}",class:"img-icon floating" %> 
          <b>&nbsp;
                  <%= link_to "#{find_profile(comment.admin_id).name} #{find_profile(comment.admin_id).last_name}", "javascript:void(0)" %></b> 
                  <span class="font-less">on <%= comment.created_at.strftime('%d-%b-%Y') %></span>
          <div>
           &nbsp;&nbsp;<%= comment.content %>
          </div >
      <div class="font-less">
            <ol class="ol-none">
            <% comment.journal_issue_comment_files.each do |file| %>
                <li class="font-less">
                  <%= link_to  file.comment_document_file_name, cloudinary_url("http://res.cloudinary.com/sampulkreativ/raw/upload/v1/journal_issue/files/#{file.id}_#{file.comment_document_file_name}", :resource_type => :raw), :target => "_blank" %>
                </li>
            <% end %>
            </ol>
      </div>
      <span class="clearfix"></span>
      <hr class="hr_none">
<% end %>