<%= label_tag :comment, "Comments" %>
<% @admin_journal_issue.journal_issue_comments.each do |comment| %>
      <div class="cl">&nbsp;</div>
      <%= image_tag find_profile(comment.admin_id).avatar.url(:original),class:"img-icon floating" %> 
      <p>
          <b><%= link_to "#{find_profile(comment.admin_id).name} #{find_profile(comment.admin_id).last_name}", "javascript:void(0)" %></b> <span class="font-less">on <%= comment.created_at.strftime('%d-%b-%Y') %></span>
          <div class="up">
          <%= comment.content %>
          </div >
      </p>
      <p class="up-less font-less">
            FIle Attached: 
            <% if comment.journal_issue_comment_files.blank? %>
              Not yet
            <% end %>
            <ol>
            <% comment.journal_issue_comment_files.each do |file| %>
                <li class="font-less"><%= link_to file.comment_document_file_name, file.comment_document.url, :target => "_blank" %></li>
            <% end %>
            </ol>
      </p>
      <hr>
      <div class="cl">&nbsp;</div>
      <br>
<% end %>