<%= image_tag "http://res.cloudinary.com/sampulkreativ/image/upload#{loaded_rand("profile", @admin_journal_issue_comment.admin_id)}/profiles/#{@admin_journal_issue_comment.admin_id}",class:"img-icon floating" %> 
    <b>&nbsp;<%= link_to "#{find_profile(@admin_journal_issue_comment.admin_id).name} #{find_profile(@admin_journal_issue_comment.admin_id).last_name}", "javascript:void(0)" %></b> <span class="font-less">on <%= @admin_journal_issue_comment.created_at.strftime('%d-%b-%Y') %></span>
    <div>
          &nbsp;<%= @admin_journal_issue_comment.content %>
    </div>
<div class="font-less">
      <ol class="ol-none">
      <% @admin_journal_issue_comment.journal_issue_comment_files.each do |file| %>
          <li class="font-less"><%= link_to file.comment_document_file_name, file.comment_document.url, :target => "_blank" %></li>
      <% end %>
      </ol>
</div>
      <span class="clearfix"></span>
<hr class="hr_none">