<div class="panel panel-primary">
	<div class="panel-heading filter">
		<%= form_tag filter_admin_projects_path(), remote: true do %>
			<%= hidden_field_tag :filter, "present" %>

		       <%= label_tag :title, "Title : ", class:"floating", style:"margin:7px 5px 0px 0px;" %>
		       <%= text_field_tag :title, "", placeholder:"Title", class:"form-control floating", style:"width:69%; margin-right:10px" %>

		       <%= label_tag :order, "Sort by : ", class:"floating", style:"margin:7px 5px 0px 0px;" %>
		       <%= select_tag :order, options_for_select([['Select',nil],['Top Comment',6],['Top Like',5]]), class:"form-control floating", style:"width:18%; margin-right:10px" %>

		       <span class="clearfix"></span>
		       <br>
		       <%= label_tag :create_start, "Created At : ", class:"floating", style:"margin:7px 5px 0px 0px;" %>
		       <%= text_field_tag :create_start, "", placeholder:"28/04/2015", class:"form-control floating", style:"width:10%; margin-right:10px" %>

		       <%= label_tag :create_end, "To ", class:"floating", style:"margin:7px 5px 0px 0px;" %>
		       <%= text_field_tag :create_end, "", placeholder:"28/04/2015", class:"form-control floating", style:"width:10%; margin-right:10px" %>

			<button class="btn btn-primary ajax">Filter</button>
	       <% end %>
	</div>
</div>

<%= javascript_include_tag 'filter' %>