<%= form_for(:dashboard_comment, url: dashboard_comments_path, remote: true) do |f| %>
    <div class="field">
      <%= f.hidden_field :admin_id, value: Admin::CompanyProfile.last.id %>
    </div>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class:"size-1" %>
      <div id="error_name" class="error"></div>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, class:"size-1" %>
    </div>
    <div class="field">
      <%= f.label :profile %>
      <%= f.select :profile, options_for_select(@profile) %>
    </div>
    <div class="field">
      <%= f.text_area :body, class:"size-1", id:"textarea-label" %>
      <div id="error_body" class="error"></div>
    </div>
    <div class="actions">
      <div class="post_content">
        <div class="link_button" style="float:right">
             <% if status == 'contact_for_admin' %>
                <%= link_to "Save ...", "javascript:void(0)", id:"submit-form", dataId:"contact_for_admin" %>
             <% elsif status == 'contact_for_all_admins' %>
                <%= link_to "Save ...", "javascript:void(0)", id:"submit-form", dataId:"contact_for_all_admins" %>
             <% else %>   
                <%= link_to "Save ...", "javascript:void(0)", id:"submit-form", dataId:"contact_for_comment" %>
             <% end %>
        </div>
      </div>
    </div>
<% end %>

<%= javascript_include_tag "dashboard/form_validates" %>