<!-- Main -->
<div id="main">
  <div class="cl">&nbsp;</div>
  
  <!-- Content -->
  <div id="content">
    
    <!-- Box Article -->
    <div class="box">
      <!-- Box Head -->
      <div class="box-head">
        <h2 class="left">Search Result</h2>

<<<<<<< HEAD
        <%= render partial:'admin/shared/search', locals:{status: nil} %>
=======
        <%= render 'admin/shared/search' %>
>>>>>>> 6ae2c9af0e53d1bd0f7f6f3786317fc15b991ded

      </div>                               
      <!-- End Box Head --> 

      <!-- Table -->
      <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-striped">
          <tr>
            <th width="13"><input type="checkbox" class="check-all" name="check-all" /></th>
            <th>Title</th>
            <th>Content</th>
            <th width="100px">Category</th>
            <th width="10px">Comment</th>
            <th colspan="2" class="ac">Content Control</th>
          </tr>
          <% unless articles.present? %>
            <tr class="odd">
              <td colspan="7">
                <center>No data yet</center>
              </td>
            </tr>
          <%end%>

      <%= form_tag destroy_all_admin_articles_path do %>          
          <% articles.each do |article| %>
          <tr>
            <td><input type="checkbox" class="check-self" name="selected[]" id="<%= "selected-#{article.id}" %>" value="<%= article.id %>" /></td>
            <td><%= link_to "#{article.title}", admin_article_path(article) %></td>
            <td><%= truncate(strip_tags(article.body), :length => 30) %></td>
<<<<<<< HEAD
            <td><%= "#{find_category(article.category_id)}, #{find_sub_category(article.sub_category_id)}" %></td>
=======
            <td><%= "#{find_category(article.category_id)} , #{find_sub_category(article.sub_category_id)}" %></td>
>>>>>>> 6ae2c9af0e53d1bd0f7f6f3786317fc15b991ded
            <td><center><%= counting_comment(article) %></center></td>
            <td  width="5px"><%= link_to 'Edit', edit_admin_article_path(article), class:"ico edit" %></td>
            <td  width="5px"><%= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, :class => "ico del" %></td>
          </tr>
          <%end%>
        </table>
        
        
        <!-- Pagging -->
        <div class="pagging">
          <%= submit_tag "Delete Selected", class:"tab-right-button button floating" %></p>
      <% end %>

          <div class="left">Articles Total: <b><%= articles.count %></b> Articles</div>
          <div class="right">
            <%= will_paginate articles %>
          </div>
        </div>
        <!-- End Pagging -->
      </div>
      <!-- Table -->
    </div>
    <!-- End Box Article -->
  </div>
  <!-- End Content -->
  
  <div class="cl">&nbsp;</div>      
</div>
<!-- Main -->

<!-- Sidebar -->
<div id="sidebar">
  <% unless sidebar.present? %>
    <%= render :partial => "admin/shared/sidebar" %>
  <% end %>
</div>
<!-- Sidebar -->