        <%#= render partial:'admin/shared/search', locals:{status: nil} %>
<% unless articles.present? %>
	<tr class="body_index">
		<td colspan="7">
			<center>No data yet</center>
		</td>
	</tr>
<%end%>

<% articles.each_with_index do |article, n| %>
	<% n = n + 1 + articles .offset_value %>
	<tr class="body_index">
		<td>
			<%= n %>.
		</td>
		<td>
			<%= link_to "#{article.title}", admin_article_path(article) %>
		</td>
		<td>
			<%= truncate(strip_tags(article.body), :length => 55) %>
		</td>
		<td>
			<%= "#{find_category(article.category_id)}, #{find_sub_category(article.sub_category_id)}" %>
		</td>
		<td>
			<center><%= counting_comment(article) %></center>
		</td>
		<td  width="60px">
			<%= link_to '<i class="ico edit fa  fa-pencil"></i>Edit'.html_safe, edit_admin_article_path(article) %>
		</td>
		<td  width="90px">
			<%= link_to '<i class="ico edit fa  fa-trash-o"></i>Destroy'.html_safe, admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, :class => "ico del" %>
		</td>
	</tr>
<%end%>