<div id="modal-comment" class="styled">
	<h2>
	    <a href='javascript:void(0)' class='close-modal-comment close'>X</a>
	    Comment from <b><%= comment.name %></b>
	  </h2>
	<div class="formModal" id="formas2" style="padding:20px;">
		<div class="form up">
		    <p id="comment-action">
	          	<%= link_to 'Reply', "#" , class:"ico edit", id:"show_comment_reply", dataId:"#{comment.id}" %> | 
	          	<%= link_to 'Delete', dashboard_comment_path(comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class => "ico del", id:"modal-del" %>
	          </p>
	          <p>
	            <%= label_tag :name, "Name" %>:
	            <span><%= comment.name %></span>
	          </p> 
	          <p>
	            <%= label_tag :email, "E-mail" %>:
	            <span><%= comment.email %></span>
	          </p>
	          <p>
	            <%= label_tag :body, "Content" %>:
	            <span><%= comment.body %></span>
	          </p>
	          <div class="reply-form"></div>
	      </div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#modal-comment").fadeIn();
		$( '.close-modal-comment' ).click(function( ev ) {  $( '#modal-comment, #modal_background' ).fadeOut();  ev.preventDefault();} );
	})

	$("#show_comment_reply").click(function(){
		var id = $("#show_comment_reply").attr("dataId")
		$(".reply-form").html("<p><input type='text' name='id' value='"+id+"'><textarea name='body_reply' colspan='5' rowspan='5'></textarea><input type='submit'></p>");
		return false;
	})	
</script>