<!-- Main -->
<div id="main">
  <div class="cl">&nbsp;</div>
  
  <!-- Content -->
  <div id="content">
    
    <!-- Box Article -->
    <div class="box">
      <!-- Box Head -->
      <div class="box-head">
        <h2 class="left">Current Articles</h2>

        <%= render 'admin/shared/search' %>

      </div>                               
      <!-- End Box Head --> 

      <!-- Table -->
      <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-striped">
          <tr>
            <th width="13"><input type="checkbox" class="check-all" name="check-all" /></th>
            <th>Title</th>
            <th>Content</th>
            <th width="50px">Comment</th>
            <th colspan="2" class="ac">Content Control</th>
          </tr>
          <% unless @articles.present? %>
            <tr class="odd">
              <td colspan="7">
                <center>No data yet</center>
              </td>
            </tr>
          <%end%>
<%#= form_tag destroy_all_admin_dashboard_index_path do %>          
          <% @articles.each do |article| %>
          <tr>
            <td><input type="checkbox" class="check-self" name="selected[]" id="<%= "selected-#{article.id}" %>" value="<%= article.id %>" /></td>
            <td><%= link_to "#{article.title}", admin_article_path(article) %></td>
            <td><%= truncate(strip_tags(article.body), :length => 30) %></td>
            <td><%= article.comment_id %></td>
            <td  width="5px"><%= link_to 'Edit', edit_admin_article_path(article), class:"ico edit" %></td>
            <td  width="5px"><%= link_to 'Destroy', admin_article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, :class => "ico del" %></td>
          </tr>
          <%end%>
        </table>
        
        
        <!-- Pagging -->
        <div class="pagging">
          <div class="left">Articles Total: <b><%= @articles.count %></b> Articles</div>
          <div class="right">
            <%= will_paginate @articles %>
          </div>
        </div>
        <!-- End Pagging -->
      </div>
      <!-- Table -->
    </div>
    <!-- End Box Article -->
  </div>
  <!-- End Content -->
  
  <div class="cl">&nbsp;</div>      
</div>
<!-- Main -->

<!-- Sidebar -->
<div id="sidebar">
  <%= render :partial => "admin/shared/sidebar" %>
</div>
<!-- Sidebar -->
<%#end%>
