<div id="main">
  <div class="cl">&nbsp;</div>
  <div id="content">
    <!-- Box -->
    <div class="box">
      <!-- Box Head -->
      <div class="box-head">
        <h2><%= @article.title %></h2>
      </div>
      <!-- End Box Head -->
        <!-- Form -->
        <div class="form">
          <p>
            <%= label_tag :title, "Article Title" %>
            <%= @article.title %>
          </p> 
          <p>
            <%= label_tag :photo, "Article Photo" %>
            <div class="foto_prev">
              <%= image_tag @article.photo.url(:original),class:"img-data" %> 
            </div>
          </p>

          <p>
            <%= label_tag :body, "Content" %>
            <%= raw @article.body %>
          </p>

          	<% unless find_article_comment(@article).blank? %>
	          <p>
	            <%= label_tag :comment, "Comment" %>
	            <table width="100%" class="table comment table-striped">
	            	<tr>
		            <th>No</th>
		            <th>From</th>
		            <th>E-mail</th>
		            <th>Content</th>
		            <th colspan="2"><center>Action</center></th>
		      </tr>
		            <% find_article_comment(@article).each_with_index do |comment, no| %>
		            	<tr>
		            		<td width="10px"><%= no + 1 %>.</td>
		              	<td><%= link_to "#{comment.name}", dashboard_comment_path(comment), remote: true %></td>
		              	<td><%= comment.email %></td>
		              	<td><%= truncate(comment.body, :length => 50) %></td>
		              	<td  width="5px"><%= link_to 'Reply', dashboard_comment_path(comment,reply: "true"), remote: true, class:"ico edit" %></td>
		              	<td  width="5px"><%= link_to 'Destroy', dashboard_comment_path(comment), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, :class => "ico del" %>
		             </tr>
		            <% end %>
	            </table>
	          </p> 
		<% end %> 
        </div>
        <!-- End Form -->
        
        <!-- Form Buttons -->
        <div class="buttons">
          <%= link_to "Back", admin_articles_path, class:"button-back" %>
          <%= link_to "Edit Article", edit_admin_article_path(@article), class:"button" %>
        </div>
        <!-- End Form Buttons -->
    </div>
    <!-- End Box -->
  </div>
  <div class="cl">&nbsp;</div>
  <!-- Modal show comment -->
  <div id="show_modal_comment"></div>
  <div id="modal_background"></div>
  <!-- End Modal show comment -->
</div>

<!-- Sidebar -->
<div id="sidebar">
  <%= render :partial => "admin/shared/sidebar" %>
</div>
<!-- Sidebar -->
