<%= stylesheet_link_tag "progress", :media => "all" %>
<div class="col-lg-9">
      <!--Pill Tabs   -->
      <div class="panel panel-default" style="margin-bottom:0px !important">
          <div class="panel-body">
              <ul class="nav nav-pills" userId="<%= @admin_profile.id %>">
                  <li class="active"><a href="#home-pills" data-toggle="tab" class="home-pills">Profile</a>
                  </li>
                  <li><a href="#profile-pills" data-toggle="tab" class="profile-pills">Skills</a>
                  </li>
                  <li><a href="#messages-pills" data-toggle="tab" class="messages-pills">Hobbies</a>
                  </li>
                  <li><a href="#settings-pills" data-toggle="tab" class="settings-pills">Describe Me</a>
                  </li>
                  <li><a href="#motto-pills" data-toggle="tab" class="motto-pills">Motto</a>
                  </li>
              </ul>
              <hr class="ups">
              <div class="tab-content">
                  <div class="tab-pane fade in active" id="home-pills" dataId="1">
                      <p>
                          <div id="form_1">
                                <%= render partial:"admin/profiles/details/detail_1"%>
                          </div>
                      </p>
                  </div>
                  <div class="tab-pane fade" id="profile-pills" dataId="2">
                      <p>
                          <div id="form_2">
                                <%= render partial:"admin/profiles/details/detail_2"%>
                          </div>
                      </p>
                  </div>
                  <div class="tab-pane fade" id="messages-pills" dataId="3">
                          <div id="form_3">
                                <%= render partial: "admin/profiles/details/detail_3" %>
                          </div>
                  </div>
                  <div class="tab-pane fade" id="settings-pills" dataId="4">
                          <p>
                                <div id="form_4">
                                       <%= render partial: "admin/profiles/details/detail_4" %>
                                </div>
                          </p>
                  </div>
                  <div class="tab-pane fade" id="motto-pills" dataId="5">
                          <p>
                                <div id="form_5">
                                      <%= render partial: "admin/profiles/details/detail_5" %>
                                </div>
                          </p>
                  </div>
              </div>
          </div>
      </div>
       <!--End Pill Tabs   -->
</div>
<%= javascript_include_tag 'profile_edit' %>