<div class="notif-error"></div>

<%= form_for(@admin_profile, remote: true) do |f| %>
  <%= f.file_field :avatar, class:"field size5 input-file file", id: "fileField", :onchange => "readURLProfile(this);", style:"border:none;position:absolute;margin-top:250px;" %>

<div id="right_content">
      <p>
        <%= f.hidden_field :admin_id, value: current_admin.id, class:"field size4"  %>
        <%= f.label :name %>
        <%= f.text_field :name, class:"field size4"  %>
      </p>  
      <p>
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class:"field size4"  %>
      </p> 
      <p>
        <%= f.label :facebook %>
        <%= f.text_field :facebook, class:"field size4"  %>
      </p>
      <p>
        <%= f.label :e_mail %>
        <%= f.text_field :e_mail, class:"field size4"  %>
      </p>
      <p>
        <%= f.label :skype %>
        <%= f.text_field :skype, class:"field size4"  %>
      </p>
      <p>
        <%= f.label :birthday %>
        <%= f.text_field :birthday, class:"field size4"  %>
      </p>
      <p>
        <%= f.label :skill, "Skill" %>

        <%= f.fields_for :profile_skills do |ps| %>
          <div style='margin-bottom:25px'>
            <%= render "admin/profiles/profile_skill", :f => ps %>
          </div>
        <% end %>
      </p>
      <div class="sub-skill" dataId="1"><!-- add skill place --></div>

      <div class="add add-skill button" type="submit">+| Skills</div>

      <p>
        <%= f.label :hobby, "Hobby" %>
        <%= f.fields_for :profile_hobbies do |ph| %>
            <%= render "admin/profiles/profile_hobby", :f => ph %>
        <% end %>
      </p>
      <div class="sub-hobby"><!-- add hobby place --></div>
      <div class="add add-hobby button" type="submit">+| Hobbies</div>
  </div>
  <p>
    <%= label_tag :describe_me, "Describe Me!" %>
    <%= f.text_area :describe_me, class:"textarea size1 height6 field" %>
  </p>
  <p>
    <%= label_tag :motto, "Motto" %>
    <%= f.text_area :motto, class:"textarea size1 height6 field" %>
  </p>
</div>

<!-- Form Buttons -->
  <div class="buttons">
    <%= link_to "Back", "javascript:void(0)", class:"close-modal-profile close button floating" %>
    <%= f.submit "Edit",  class:"button update-profile", data: { :disable_with => "Please wait..." } %>
 </div>
  <!-- End Form Buttons -->

<% end %>
<div id="modal_background_profile"></div>
<%= javascript_include_tag "admin/profile" %>
<script>
$(document).ready(function(){
  $( '.close-modal-profile' ).click(function( ev ) {  $( '#modal_profile, #modal_background' ).fadeOut();  ev.preventDefault();} );

  var id = $(".sub-skill").attr("dataId");
  $(".add-skill").click(function(){
    id = id +1;
          $(".sub-skill").append("<span class='parent'><p><input class='field size6 floating' id='admin_profile_profile_skills_attributes_"+id+"_name' name='admin_profile[profile_skills_attributes]["+id+"][name]' type='text'><input class='field size2 floating' id='admin_profile_profile_skills_attributes_"+id+"_skill' name='admin_profile[profile_skills_attributes]["+id+"][skill]' type='text'></p><div style='margin-top:-7px' class='floating'>%</div><a href='javascript:void(0)' onclick='javascript:$(this).parent().remove()'><img src='/assets/min.png' style='margin-top:-10px' /></a><p></p></span>");
      })

  $(".add-hobby").click(function(){
    id = id +1;
          $(".sub-hobby").append("<span class='parent'><input class='field size4 floating' id='admin_profile_profile_hobbies_attributes_"+id+"_name' name='admin_profile[profile_hobbies_attributes]["+id+"][name]' type='text'><a href='javascript:void(0)' onclick='javascript:$(this).parent().remove()'><img src='/assets/min.png' /></a><br><br></span>");
      })
});

function readIconAddURL(input,id) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('.icon_prev_'+id).remove();
      $('.icon_img_prev_'+id).append("<img class='floating img-icon icon_prev_"+id+"' src='"+e.target.result+"' />");
    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>