<%= javascript_include_tag "admin/journal" %>
<%= javascript_include_tag "admin/append_gallery" %>
<div class="row">
       <div class="col-lg-12">
             <div class="panel panel-primary">
                    <div class="panel-heading">
                        <i class="fa fa-question-circle fa-fw"></i>Help Super Admin Form
                    </div>

                    <div class="panel-body">
                          <div class="row">
                                 <div class="col-lg-12">
                                        <%= form_for(@admin_help, :html => {:multipart => true}) do |f| %>
                                              <nav>
                                                    <%= f.label :full_name, "Sender Name" %>
                                                    <%= f.text_field :full_name,class:"form-control", value: "#{find_profile(current_admin.id).name} #{find_profile(current_admin.id).last_name}", disabled: true, id:"disabledInput" %>
                                                    <%= f.hidden_field :full_name,  value: "#{find_profile(current_admin.id).name} #{find_profile(current_admin.id).last_name}" %>
                                              </nav>
                                              <br>
                                              <nav>
                                                    <%= f.label :e_mail %>
                                                    <%= f.text_field :e_mail,class:"form-control", value: "#{find_profile(current_admin.id).e_mail}", disabled: true, id:"disabledInput" %>
                                                    <%= f.hidden_field :e_mail,  value: "#{find_profile(current_admin.id).e_mail}" %>
                                              </nav>
                                              <br>
                                              <nav>
                                                    <%= f.label :help, "Content"  %>
                                                    <%= f.text_area :help,class:"form-control", rows: "5" %>
                                              </nav>
                                              <br>
                                              <nav>
                                                    <%= label_tag :document, "Screen Shoot" %>
                                                    <div class="sub-screen-shoot" dataId="1"><!-- add images place --></div>
                                                    <a href="javascript:void(0)" class="add btn btn-warning sub-screen" onclick="add_screen_shoot('1')"><i class="fa fa-plus"></i> Screen Shoot</a>
                                              </nav>
                                              <span class="clearfix"></span>
                                              <br>
                                              <nav>
                                                    <%= link_to "Cancel", session[:urlBack], class:"btn btn-default  pull-right", style:"font-weight:normal !important" %>
                                                    <button class="btn btn-success" ><i class="fa  fa-pencil fa-1x"></i>Send</button>
                                              </nav>
                                        <% end %>
                                 </div>
                          </div>
                    </div>
             </div>
       </div>
</div>

<script>
  $(document).ready(function(){
      dataId = $(".sub-screen-shoot").attr("dataId")
  })
  document.getElementById("uploadBtn_"+dataId+"").onchange = function () {
      document.getElementById("uploadFile_"+dataId+"").value = this.value;
     dataId = $(".sub-screen-shoot").attr("dataId") 
};
</script>