<%= form_for(:dashboard_comment, url: dashboard_comments_path, remote: true) do |f| %>
	<div class="field">
		<%= f.hidden_field :article_id, value: @article.id, id:"dashboard_comment_article_id" %>
	</div>
	<h3>Leave Comment</h3>
	<article>
		<form>
			<div class="form-group">
				<label id="name" class="col-lg-2 control-label">Name</label>
				<div class="col-lg-8">
					<%= f.text_field :name, placeholder:"Place for your Name", id:"dashboard_comment_name", class:"form-control" %>
					<div id="error_name" class="error"></div>
				</div>
			</div>
			<nav class="clearfix"></nav>
			<div class="form-group">
				<label id="email" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-8">
					<%= f.email_field :email, placeholder:"Email not to be Publish", id:"dashboard_comment_email", class:"form-control" %>
					<div id="error_email" class="error"></div>
				</div>
			</div>
			<nav class="clearfix"></nav>
			<div class="form-group">
				<label id="email" class="col-lg-2 control-label">Comment</label>
				<div class="col-lg-10">
					<%= f.text_area :body, id:"textarea-label",class:"form-control", rows:"5", placeholder:"Place for your Message" %>
					<div id="error_body" class="error"></div>
				</div>
			</div>
			<nav class="clearfix"></nav>
			<div class="form-group">
				<label id="email" class="col-lg-2 control-label">&nbsp;</label>
				<div class="col-lg-10">
					<input type="checkbox"id="aggree"> <span>I am aggree with the all term and conditions</span>
					<div id="error_check" class="error"></div>
				</div>
			</div>
			<nav class="clearfix"></nav>
			<div class="form-group">
				<label id="email" class="col-lg-2 control-label">&nbsp;</label>
				<div class="col-lg-4">
					 <% if status == 'contact_for_admin' %>
			               	<%= link_to "Post Comment", "javascript:void(0)", id:"submit-form", dataId:"contact_for_admin", class:"btn btn-warning" %>
			             <% elsif status == 'contact_for_all_admins' %>
			                	<%= link_to "Post Comment", "javascript:void(0)", id:"submit-form", dataId:"contact_for_all_admins", class:"btn btn-warning" %>
			             <% else %>   
			                	<%= link_to "Post Comment", "javascript:void(0)", id:"submit-form", dataId:"contact_for_comment", class:"btn btn-warning" %>
			             <% end %>
				</div>
			</div>
			<nav class="clearfix"></nav>
		</form>
	</article>
<% end %>

<%= javascript_include_tag "dashboard/form_validates" %>