<article>
	<%= image_tag "comment.jpg", style:"float:left" %>
	<span><%= dashboard_comment.name %> <i>said:</i></span>
	<span class="pull-right">0n: <%= "#{dashboard_comment.created_at.strftime('%d - %B - %Y')}"  %></span>
	<p><%= dashboard_comment.body %></p>
	<!-- <a href="javascript:void(0)">Reply <span class="glyphicon glyphicon-retweet"></span></a> -->
	<nav class="clearfix"></nav>
	<% dashboard_comment.reply_comments.each do |reply| %>
		<article class="down2x reply">
			<%= image_tag "comment.jpg", style:"float:left" %>
			<span>Admin <i>said:</i></span>
			<span class="pull-right">0n: <%= "#{reply.created_at.strftime('%d - %B - %Y')}"  %></span>
			<p><%= reply.body %></p>
			<span class="clearfix"></span>
		</article>
	<% end %>
</article>
<br>