<!-- <div id="main">
  <div class="cl">&nbsp;</div>
  <div id="content"> -->
    <!-- Box -->
<!--     <div class="box"> -->
      <!-- Box Head -->
<!--       <div class="box-head">
        <h2>Company Profile</h2>
      </div> -->
      <!-- End Box Head -->      

        <!-- Form -->
<!--         <div class="foto_prev">
              
              <br>
        </div>

        <div class="form">
          <div id="right_content">
            <p>
               <%= label_tag :name, "Company Name" %>
              <%= admin_company_profile.name%>
            </p> 

            <p>
                  <%= label_tag :phone %>
                  <%= admin_company_profile.phone %>
            </p>

            <p>
                  <%= label_tag :motto %>
                  <%= admin_company_profile.motto %>
            </p>

            <p>
                  <%= label_tag :vission %>
                  <%=raw admin_company_profile.vission %>
            </p>

            <p>
                  <%= label_tag :mission %>
                  <%=raw admin_company_profile.mission %>
            </p>

            <p>
              <%= label_tag :address, "Address" %>
              <%=raw admin_company_profile.address %>
            </p>  
          </div>
        </div>
        <br><br><br> -->
        <!-- End Form -->

 <!--        <span class="clear"></span>
        <% unless find_company_comment(admin_company_profile.id).blank? %>
            <p>
             &nbsp;<b><%= label_tag :comment, "Comment" %></b>
              <table width="100%" class="table comment table-striped">
                <tr>
                <th>No</th>
                <th>From</th>
                <th>E-mail</th>
                <th>Content</th>
                <th colspan="2"><center>Action</center></th>
          </tr>
                <% find_company_comment(admin_company_profile.id).each_with_index do |comment, no| %>
                <tbody>
                  <tr>
                    <td width="10px"><%= no + 1 %>.</td>
                    <td><%= link_to "#{comment.name}", admin_contact_path(comment), remote: true %></td>
                    <td><%= comment.email %></td>
                    <td><%= truncate(comment.body, :length => 50) %></td>
                    <td  width="5px"><%= link_to 'Reply', admin_contact_path(comment,reply: "true"), remote: true, class:"ico edit" %></td>
                    <td  width="5px"><%= link_to 'Destroy', admin_contact_path(comment), method: :delete, data: { confirm: 'Are you sure?' }, :class => "ico del" %>
                 </tr>
                 </tbody>
                <% end %>
              </table>
            </p> 
        <% end %> -->

        <!-- Form Buttons -->
        <!-- <div class="buttons"> -->
          <%#= link_to "Back", session[:urlBack], class:"button-back" %>
          <%#= link_to "Edit",edit_admin_company_profile_path(admin_company_profile), class:"button" %>
        <!-- </div> -->
        <!-- End Form Buttons -->
    <!-- </div> -->
    <!-- End Box -->
  <!-- </div>
  <div class="cl">&nbsp;</div>
</div> -->


<div class="panel panel-primary">
      <div class="panel-heading">
          <i class="fa fa-files-o fa-fw"></i><%= admin_company_profile.name %>
      </div>

      <div class="panel-body">
          <div class="row">
              <div class="col-lg-12 company_profile">
                <%= image_tag "http://res.cloudinary.com/sampulkreativ/image/upload#{loaded_rand("company", current_admin.id)}/company/#{admin_company_profile.id}",class:"img-data company-logo", id:"logo-align" %>
                <p><b><%= admin_company_profile.name %></b></p>
                <span>
                    <%=raw admin_company_profile.vission %>
                </span>
                <span>
                  <%=raw admin_company_profile.mission %>
                </span>
              </div>
          </div>
          <!-- /.row -->
          <a href="/admin/company_profiles/<%= admin_company_profile.id %>/edit" class="btn btn-primary righting"><span class="fa  fa-pencil fa-1x">Edit</span></a>
      </div>
      <!-- /.panel-body -->
  </div>
  <!--End simple table Messages example -->