<<<<<<< HEAD
<%= render 'admin/journals/index' %>
=======
<%= render partial: 'admin/company_profiles/admin', locals:{admins: @admins} %>
>>>>>>> 6ae2c9af0e53d1bd0f7f6f3786317fc15b991ded
<!-- Sidebar -->
<div id="sidebar">
  <%= render :partial => "admin/shared/sidebar" %>
</div>
<!-- Sidebar -->
<<<<<<< HEAD
<%= render partial: 'admin/company_profiles/admin', locals:{admins: @admins, current_admin: @current_admin} %>
<%= render partial: 'admin/company_profiles/detail', locals:{admin_company_profile: @admin_company_profiles} %>

<div id="show_profile_place"><!--The place for show profile--></div>
<div id="modal_background"><!--The place for show background black--></div>
<div id="show_modal_comment"><!--The place for show comment--></div>
=======
<%= render partial: 'admin/company_profiles/detail', locals:{admin_company_profile: @admin_company_profiles, current_admin: @current_admin} %>
>>>>>>> 6ae2c9af0e53d1bd0f7f6f3786317fc15b991ded
