<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin_company_profile.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @admin_company_profile.address %>
</p>

<p>
  <strong>Vission:</strong>
  <%= @admin_company_profile.vission %>
</p>

<p>
  <strong>Mission:</strong>
  <%= @admin_company_profile.mission %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @admin_company_profile.motto %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @admin_company_profile.photo %>
</p>

<%= link_to 'Edit', edit_admin_company_profile_path(@admin_company_profile) %> |
<%= link_to 'Back', admin_company_profiles_path %>
