<style type="text/css">
  #up{
    margin-top: -28px !important;
  }
  .right-img{
    margin-top:-30px; padding-right:20px !important;'
  }
</style>

<div id="modal_profile_edit" class="styled form positions" style="background: none !important;">
      <div class="cl">&nbsp;</div>
      <div id="content">
             <div class="box">
                <!-- Box Head -->
                    <div class="box-head">
                      <h2>Project</h2>
                    </div>
                    <%= form_for(@admin_journal) do |f| %>
                          <div class="form">
                                <div class="notif-error"></div>
                                 <p>
                                        <%= f.label :title, "Project Name" %><span>(Required Field)</span>
                                        <%= f.text_field :title, class:"field size0" %>
                                 </p>
                                
                                 <p>
                                      <%= f.label :status_id, "Status Task" %>
                                      <%= f.select :status_id, options_for_select(@status,@statused) %>
                                </p>

                                <div class="inside">
                                        <%= label_tag :title, "Project Team" %>
                                </div>
                                <div class="form_team">
                                    <%= f.label :project_manajer, "Project Manajer", class:"floating form_right" %>
                                    <% if @action == 'new' %>
                                            <%= f.text_field :project_manajer, value: find_name(current_admin.id), :disabled=>"disabled", class:"field size1 floating field-dis" %>
                                            <%= f.hidden_field :project_manajer, value: find_name(current_admin.id), class:"field size1 floating field-dis" %>
                                            <%= f.hidden_field :admin_id, value: current_admin.id, class:"field size1 floating field-dis" %>
                                    <% else %>
                                             <%= f.text_field :project_manajer, :disabled=>"disabled", class:"field size1 floating field-dis" %> 
                                    <% end %>
                                    <div class="cl">&nbsp;</div>
                                    <br>
                                    <%= f.label :admin_id, "Project Designer", class:"floating form_right" %>
                                        <% if @action == 'new' %>
                                              <%= select_tag :admin_id, options_for_select(@admins), name:"admin_journal[jornal_team_designers_attributes][0][admin_id]", class:"floating down-select", id:"admin-designer" %>
                                        <% end %>
                                    <%= f.fields_for :jornal_team_designers do |f| %>
                                       <span class="remove-designers">
                                          <%= f.select :admin_id, options_for_select(@admins, @selected_designer[f.index][:admin_id]), class:"floating" %>
                                          <% if f.index > 0 %>
                                              <%= link_to image_tag("x-icon.png",class:"right-img"), destroy_add_rows_admin_journals_path({id: @selected_designer[f.index][:journal_id],admin_id: @selected_designer[f.index][:admin_id],type: "designers"}), method: :delete , remote: true, class:"add-designer", onclick:"javascript:$(this).parent().remove()"%>
                                          <% end %>
                                          <div class="down-select-two">&nbsp;</div>  
                                       </span>
                                    <% end %>
                                    <span class="sub-designers" dataId="1"><!-- add designer place --></span>
                                    <%= link_to image_tag("add.png"), add_row_designers_admin_journals_path, remote: true, class:"add-designer" %>
                                    <div class="cl">&nbsp;</div>
                                    <br>
                                    <%= f.label :title, "Project Developer", class:"floating form_right" %>
                                      <% if @action == 'new' %>
                                          <%= select_tag :admin_id, options_for_select(@admins), name:"admin_journal[journal_team_developers_attributes][0][admin_id]", class:"floating down-select",id:"admin-developer" %>
                                      <% end %>
                                    <%= f.fields_for :journal_team_developers do |f| %>
                                    <span class="remove-developers">
                                      <%= f.select :admin_id, options_for_select(@admins, @selected_developer[f.index][:admin_id]), class:"floating" %>
                                      <% if f.index > 0 %>
                                        <%= link_to image_tag("x-icon.png",class:"right-img"), destroy_add_rows_admin_journals_path({id: @selected_developer[f.index][:journal_id],admin_id: @selected_developer[f.index][:admin_id],type: "developers"}), method: :delete, remote: true, class:"add-designer", onclick:"javascript:$(this).parent().remove()"%>
                                      <% end %> 
                                      <div class="down-select-two">&nbsp;</div>
                                    </span>
                                    <% end %>
                                    <span class="sub-developers" dataId="1"><!-- add developers place --></span>
                                   <%= link_to image_tag("add.png"), add_row_developers_admin_journals_path, remote: true %>
                                   <div class="cl">&nbsp;</div>
                                   <br>
                                   <%= f.label :title, "Project Quality Check", class:"floating form_right" %>
                                      <% if @action == 'new' %>
                                          <%= select_tag :admin_id, options_for_select(@admins), name:"admin_journal[journal_team_checks_attributes][0][admin_id]", class:"floating down-select",id:"admin-check" %>
                                      <% end %>
                                   <%= f.fields_for :journal_team_checks do |f| %>
                                    <span class="remove-checks">
                                      <%= f.select :admin_id, options_for_select(@admins, @selected_check[f.index][:admin_id]), class:"floating" %>
                                      <% if f.index > 0 %>
                                        <%= link_to image_tag("x-icon.png",class:"right-img"), destroy_add_rows_admin_journals_path({id: @selected_check[f.index][:journal_id],admin_id: @selected_check[f.index][:admin_id],type: "checks"}), method: :delete, remote: true, class:"add-designer", onclick:"javascript:$(this).parent().remove()"%>
                                      <% end %> 
                                      <div class="down-select-two">&nbsp;</div>
                                   </span>
                                    <% end %>
                                   <span class="sub-checks" dataId="1"><!-- add checks place --></span>
                                   <%= link_to image_tag("add.png"), add_row_checks_admin_journals_path, remote: true %>
                                   <div class="cl">&nbsp;</div>
                                </div>
                                <br />
                                <span class="floating" >
                                      <%= f.label :start, "Project Start", class:"floating" %><span>(Required Field)</span>
                                      <div class="cl">&nbsp;</div>
                                      <%= f.date_select :start %>
                                </span>
                                <div id="right_content">
                                      <%= f.label :end, "Project End", class:"floating" %><span>(Required Field)</span>
                                      <div class="cl">&nbsp;</div>
                                      <div id="up">
                                          <%= f.date_select :end %>
                                      </div>
                                </div>  
                                <br>
                                <div class="buttons">
                                       <%= link_to "Cancel", "javascript:void(0)", class:"close-modal-profile close button floating" %>
                                       <%= f.submit "Create", class:"button", id:"button-create" %>
                                       <div class="cl">&nbsp;</div>
                                 </div>
                           </div>
                    <% end %>
             </div>
      </div>
      <div class="cl">&nbsp;</div>
</div>
<%= javascript_include_tag "admin/journal" %>
<script>
  $(document).ready(function() {
        $("#modal_profile_edit").show();
    })
  $( '.close-modal-profile' ).click(function( ev ) {  
        $( '#modal_profile_edit, #modal_background' ).fadeOut();  ev.preventDefault();
  } );
  $("#modal_background").click(function(ev){
          $( '#modal_profile_edit, #modal_background' ).fadeOut();  ev.preventDefault();   
  })
</script>