<style type="text/css">
  #up{
    margin-top: -8px !important;
    color: #000;
  }
</style>
<%= stylesheet_link_tag    "progress", media: "all" %>
<div id="modal_profile" class="styled form positions">
      <div class="cl">&nbsp;</div>
      <div id="content">
             <div class="box">
                <!-- Box Head -->
                    <div class="box-head">
                      <h2><%= @admin_journal.title %> Journal</h2>
                    </div>

                    <div class="form">
                    <div class="right">
                          <span class="calendar">
                                <% if truncate(estimated_time(@admin_journal.end).to_s, length: 1).to_i == 0 %>
                                      <%= link_to "Now is Deadline", "javascript:void(0)" %>
                                <% elsif truncate(estimated_time(@admin_journal.end).to_s, length: 1).to_i < 0 %>
                                      <%= link_to "Out of Deadline", "javascript:void(0)" %>
                                <% else %>
                                        <%= link_to "#{truncate(estimated_time(@admin_journal.end).to_s, length: 1).to_i}", "javascript:void(0)" %>
                                        Day left
                                <% end %>
                          </span>
                    </div>
                         	<p>
                                <%= label_tag :title, "Project Name" %>
                                <h4 id="up"><%= @admin_journal.title %></h4>
                         	</p>
                        	<div class="inside">
                                <%= label_tag :title, "Project Team" %>
                        	</div>
                        	<div class="form_team">
                        		<%= label_tag :project_manajer, "Project Manajer", class:"floating form_right" %>
                        		<%= text_field_tag :project_manajer, @admin_journal.project_manajer, :disabled=>"disabled", class:"field size1 floating field-dis" %>
                        		<div class="cl">&nbsp;</div>
                                 <br>
                                 <%= label_tag :admin_id, "Project Designer", class:"floating form_right" %>
                                 <% @admin_journal.jornal_team_designers.each do |journal_team| %>
                                 	<%= text_field_tag :admin_id, find_name(journal_team.admin_id), :disabled=>"disabled", class:"field size1 floating field-dis" %>
                                 	<div class="down-select-two">&nbsp;</div>  
                                 <% end %>
                                 <div class="cl">&nbsp;</div>
                                 <br>
                                 <%= label_tag :admin_id, "Project Developer", class:"floating form_right" %>
                                 <% @admin_journal.journal_team_developers.each do |journal_team| %>
                                 	<%= text_field_tag :admin_id, find_name(journal_team.admin_id), :disabled=>"disabled", class:"field size1 floating field-dis" %>
                                 	<div class="down-select-two">&nbsp;</div>  
                                 <% end %>
                                 <div class="cl">&nbsp;</div>
                                 <br>
                                 <%= label_tag :admin_id, "Project Quality Check", class:"floating form_right" %>
                                 <% @admin_journal.journal_team_checks.each do |journal_team| %>
                                 	<%= text_field_tag :admin_id, find_name(journal_team.admin_id), :disabled=>"disabled", class:"field size1 floating field-dis" %>
                                 	<div class="down-select-two">&nbsp;</div>  
                                 <% end %>
                        	</div>
                        	<br>
                        	<p>
                                <%= label_tag :title, "Project Starting at", class:"floating" %>
                                <b><%= link_to "#{@admin_journal.start.strftime('%d-%b-%Y')}", "javascript:void(0)", class:"floating" %></b>
                                <%= label_tag :title, "and will be Ending at", class:"floating" %>
                                <b><%= link_to "#{@admin_journal.end.strftime('%d-%b-%Y')}", "javascript:void(0)" %></b>
                          </p>
                    </div>

                    <div class="buttons">
                         <%= link_to "Cancel", "javascript:void(0)", class:"close-modal-profile close button floating" %>
                         <% if @admin_journal.admin_id == current_admin.id %>
                                <%= link_to 'Edit', edit_admin_journal_path(@admin_journal), remote: true, class:"button" %>
                         <% end %>
                         <div class="cl">&nbsp;</div>
                   </div>
             </div>
       </div>
</div>

<%= javascript_include_tag "admin/journal" %>