<div class="panel panel-<%= @estimate == 'Out of Deadline' ? 'danger' : 'primary' %>">
      <div class="panel-heading">
          <i class="fa fa-bookmark fa-fw"></i><%= @admin_journal.title %>
             <div class="pull-right">
                   <%= @estimate.html_safe %>
             </div>
      </div>

      <div class="panel-body">
             <div class="row">
                    <div class="col-lg-12">
                          <div class="pull-right">
                                 <% if @admin_journal.admin_id == current_admin.id %>
                                        <%= link_to raw('<i class="ico edit fa  fa-pencil"></i>Edit'), edit_admin_journal_path(@admin_journal), class:"ico edit"%> | 
                                 <%= link_to raw('<i class="ico edit fa  fa-trash-o"></i>Destroy'), admin_journal_path(@admin_journal), method: :delete, data: { confirm: 'Are you sure?' }, :class => "ico del" %>
                                 <% end %>
                           </div>
                          Start <b><%= @admin_journal.start.strftime('%d-%b-%Y') %></b> - End <b><%= @admin_journal.end.strftime('%d-%b-%Y') %></b>
                          <p class="project-team-details">
                                <%= label_tag :project_manajer, "Project Manajer", class:"floating form_right" %>
                                <span class='right-data'>
                                       <% if current_admin.id == @admin_journal.admin_id %>
                                            <%= raw generated_link_to(@admin_journal.project_manajer,"#view_profile",{:id=>"view_profiles",:role=>"button", :onclick => "view_profile(#{current_admin.id},'no')", :data => {:toggle=>"modal", :url=>"view_profiles"}})%>
                                       <% else %>
                                              <%= raw generated_link_to(@admin_journal.project_manajer,"#view_profile",{:id=>"view_profiles",:role=>"button", :onclick => "view_profile(#{@admin_journal.admin_id},'yes')", :data => {:toggle=>"modal", :url=>"view_profiles"}})%>
                                       <% end %>
                                </span>
                                <br><br>
                                <%= label_tag :project_designers, "Project Designers", class:"floating form_right" %>
                                <% @admin_journal.jornal_team_designers.each do |journal_team| %>
                                       <span class='right-data'>
                                              <% if current_admin.id == journal_team.admin_id %>
                                                    <%= raw generated_link_to(find_name(journal_team.admin_id),"#view_profile",{:id=>"view_profiles",:role=>"button", :onclick => "view_profile(#{journal_team.admin_id},'no')", :data => {:toggle=>"modal", :url=>"view_profiles"}})%>
                                              <% else %>
                                                    <%= raw generated_link_to(find_name(journal_team.admin_id),"#view_profile",{:id=>"view_profiles",:role=>"button", :onclick => "view_profile(#{journal_team.admin_id},'yes')", :data => {:toggle=>"modal", :url=>"view_profiles"}})%>
                                              <% end %>
                                       </span>
                                <% end %>
                                <br><br>
                                <%= label_tag :project_developers, "Project Developers", class:"floating form_right" %>
                                <% @admin_journal.journal_team_developers.each do |journal_team| %>
                                       <span class='right-data'>
                                             <% if current_admin.id == journal_team.admin_id %>
                                                    <%= raw generated_link_to(find_name(journal_team.admin_id),"#view_profile",{:id=>"view_profiles",:role=>"button", :onclick => "view_profile(#{journal_team.admin_id},'no')", :data => {:toggle=>"modal", :url=>"view_profiles"}})%>
                                              <% else %>
                                                    <%= raw generated_link_to(find_name(journal_team.admin_id),"#view_profile",{:id=>"view_profiles",:role=>"button", :onclick => "view_profile(#{journal_team.admin_id},'yes')", :data => {:toggle=>"modal", :url=>"view_profiles"}})%>
                                              <% end %>
                                      </span>
                                <% end %>
                                <br><br>
                                <%= label_tag :project_checks, "Project Quality Checks", class:"floating form_right" %>
                                <% @admin_journal.journal_team_checks.each do |journal_team| %>
                                       <span class='right-data'>
                                              <% if current_admin.id == journal_team.admin_id %>
                                                    <%= raw generated_link_to(find_name(journal_team.admin_id),"#view_profile",{:id=>"view_profiles",:role=>"button", :onclick => "view_profile(#{journal_team.admin_id},'no')", :data => {:toggle=>"modal", :url=>"view_profiles"}})%>
                                              <% else %>
                                                    <%= raw generated_link_to(find_name(journal_team.admin_id),"#view_profile",{:id=>"view_profiles",:role=>"button", :onclick => "view_profile(#{journal_team.admin_id},'yes')", :data => {:toggle=>"modal", :url=>"view_profiles"}})%>
                                              <% end %>
                                       </span>
                                <% end %>
                          </p>
                          <br><br>
                          <nav class="clearfix"></nav>
                          <%= label_tag :description, "Project Description" %>
                          <div class="justify"><%= raw @admin_journal.description %></div>
                          <nav class="clear"></nav>
                          <br><br>
                          <span class="pull-right">
                                <%= link_to "Back", session[:urlBack], class:"btn btn-default", style:"padding:9px" %>
                          <span>
                    </div>
             </div>
      </div>
</div>

<%= render 'admin/journal_issues/index_head' %>

<script>
$(document).ready(function() {
        $('.masterTooltip').hover(function(){
                var title = $(this).attr('title');
                $(this).data('tipText', title).removeAttr('title');
                $('<p class="tooltip"></p>')
                .html(title)
                .appendTo('body')
                .fadeIn('slow');
        }, function() {
                $(this).attr('title', $(this).data('tipText'));
                $('.tooltip').remove();
        }).mousemove(function(e) {
                var mousex = e.pageX + 20; 
                var mousey = e.pageY + 10; 
                $('.tooltip')
                .css({ top: mousey, left: mousex })
        });
});
</script>