<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag "style-admin", :media => "all" %>
    <%= stylesheet_link_tag "mailer_notification", :media => "all" %>
  </head>
  <body class="journal_issue">
    <%#= generated_status(@journal_issue.status_id).html_safe %>
    <h1><%= find_type(@journal_issue.type_id).html_safe %> <%= link_to "##{@journal_issue.no}" " #{@journal_issue.title}",  admin_journal_issue_path(id: @journal_issue.id,id_journal: @journal.id) %></h1>
    <p>Hi <%= "#{@admin.name} #{@admin.last_name}" %>, you have one Journal 
    <% if @type == "plus" %>
        As Project Quality Check
    <% end %>
    </p>
    <p>
      Below is Journal Details: <br /><br />
      Journal Project : <b><%= @journal.title %></b><br><br>
      Journal Assign : <b><%= "#{find_profile(@journal_issue.asignee).name} #{find_profile(@journal_issue.asignee).last_name}" %></b><br><br>
      Journal Status : <%= generated_status(@journal_issue.status_id).html_safe %><br><br>
      Journal Progress : <%= @journal_issue.progress.blank? ? 0 : @journal_issue.progress %>%<br><br>
      Journal Priority : <b><%= find_priority(@journal_issue.priority) %></b><br><br>
      This journal is starting at <b><%= @journal_issue.start.strftime('%d-%b-%Y') %></b> and will be end at <b><%= @journal_issue.end.strftime('%d-%b-%Y') %></b>
    </p>
    <p>
      <b>Content :</b>
      <%= raw @journal_issue.content %>
    </p>
    <p>
      For more Detail about this Journal, you can click this 
      <%= link_to "Link", admin_journal_issue_path(id: @journal_issue.id,id_journal: @journal.id) %>
    </p>
    <p>Thank you,</p>
    <p><%= @company %> System</p>
  </body>
</html>