<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag "mailer_notification", :media => "all" %>
  </head>
  <body>
    <h1><%= @journal.title %></h1>
    <p>Hi <%= "#{@admin.name} #{@admin.last_name}" %>, you have Assign as <b><%= @type %></b> in <b><%= @journal.title %></b> Project.</p>
    <p>
      Below is Project Details: <br /><br />
      Project Name : <b><%= @journal.title %></b><br>
      Project Manager : <b><%= @journal.project_manajer %>a</b><br>
      This project is starting at <b><%= @journal.start.strftime('%d-%b-%Y') %></b> and will be end at <b><%= @journal.end.strftime('%d-%b-%Y') %></b>
    </p>
    <p>
      For more Information, you can login to <a href="http://localhost:3000/admin/login">My Journal</a> Website
    </p>
    <p>Thank you,</p>
    <p><%= @company %> System</p>
  </body>
</html>