<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi, <%= "#{@admin.name} #{@admin.last_name}" %>, you have message from <%= @name %></p>
    <p>
      Below is message: <br /><br />
      <%= raw @body %><br>
      you can reply this message to <%= @email %>
    </p>
    <br />
    <p>
      Or you can login to <a href="http://localhost:3000/admin/login"><%= @company %> Admin</a>
    </p>
    <p>Thank you,</p>
    <p><%= @company %> System</p>
  </body>
</html>