 <% unless articles.present? %>
  <h2 id="box_no_post">Sorry no post yet!</h2>
<% end %>
<% articles.each do |article| %>
      <div class="post-title">
              <h2><%= link_to article.title, dashboard_home_path(article) %></h2>
              <div class="post-title-info">
                    <div class="post-date">Dated: <%= "#{article.created_at.strftime('%d %B %Y')} " %>
                    
                          Category
                          <% if article.category_id.present? %>
                              <b><%= link_to find_category(article.category_id), dashboard_home_show_categories_path(article.category_id) %></b>
                          <% else %>
                              <b><%= link_to find_category(article.category_id), "javascript:void(0)" %></b>
                          <% end %>

                          <% if article.sub_category_id.present? %>
                              <b><%= link_to find_sub_category(article.sub_category_id), dashboard_home_show_sub_categories_path(article.sub_category_id) %></b>
                          <% else %>
                              <b><%= link_to find_sub_category(article.sub_category_id), "javascript:void(0)" %></b>
                          <% end %>
                    </div>  
                    <div class="post-comments">
                          <b><%= counting_comment(article) %></b> Comment
                          <div class="fb-share-button" data-href="https://journalkreativ.herokuapp.com/dashboard/home/<%=article.id%>" data-layout="button_count"></div>
                    </div>
              </div>
            </div>
            <div class="post-entry">
              <p>
                    <%= cl_image_tag "articles/#{article.id}", style:"margin-left: 5px; margin-right: 5px;",alt:"",align:"left", width:"172" %>
                    <div class="ellipsis"><%=raw article.body %></div>
              </p>
              <p> <%= link_to "Continue reading ...", dashboard_home_path(article),  class:"more-link" %></p>
        </div>
      <div class="clear"></div>
      <br>
      <div class="post-category">&nbsp;</div> 
<%end%>
<div class="pagging" id="pagging-left">
      <%= will_paginate articles %>
</div>
<%= javascript_include_tag "ckeditor/truncate", "data-turbolinks-track" => true %>
<!-- <div id="fb-root"></div> -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&appId=304923376368561&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
