<% unless articles.present? %>
  <h2 id="box_no_post">Sorry no post yet!</h2>
<% end %>
<% articles.each do |article| %>
  <div id="main_column">
    <div class="post_box">
      <div class="date_box">
       	<p><%= "#{article.created_at.strftime('%d %b %Y')}" %></p>
      </div>
          
      <div class="post_body">
          <h2><a href="#"><%= link_to article.title, dashboard_home_path(article) %></a></h2>
        <div class="post_info">
        category
          <% if article.category_id.present? %>
  		<%= link_to find_category(article.category_id), dashboard_home_show_categories_path(article.category_id), remote: true %>
          <% else %>
              <%= link_to find_category(article.category_id), "javascript:void(0)" %>
          <% end %>

          <% if article.sub_category_id.present? %>
              <%= link_to find_sub_category(article.sub_category_id), dashboard_home_show_sub_categories_path(article.sub_category_id), remote: true %>
          <% else %>
              <%= link_to find_sub_category(article.sub_category_id), "javascript:void(0)" %>
          <% end %>
        </div>
                    
        <div class="post_content">
          <a href="#">
          <%= image_tag article.photo.url(:original), width:"410px" %>
          </a>
          <div class="ellipsis"><%=raw article.body %></div>
            
          <div class="link_button">
            <%= link_to "Continue reading ...", dashboard_home_path(article) %>
           <%= link_to "Comment (#{counting_comment(article)})", dashboard_home_path(article) %>
          </div>
        </div> 
      </div>

    </div>
  </div>
<%end%>