<% @articles.each do |article| %>
  <div id="main_column">
    <div class="post_box">
      <div class="date_box">
       	<p><%= "#{article.created_at.strftime('%d %b %Y')}" %></p>
      </div>
          
      <div class="post_body">
          <h2><a href="#"><%= article.title %></a></h2>
        <div class="post_info">
  			  by <a href="#">Hasan Al Farisi</a>
        </div>
                    
        <div class="post_content">
          <a href="#">
          <%= image_tag article.photo.url(:original), width:"410px" %>
          </a>
          <div class="ellipsis"><%=raw article.body %></div>
            
          <div class="link_button">
            <%= link_to "Continue reading ...", dashboard_home_path(article) %>
           <%= link_to "Comment (#{counting_comment(article)})", dashboard_home_path(article) %>
          </div>
        </div> 
      </div>

    </div>
  </div>
<%end%>
<%= will_paginate @articles %>