<div id="main">
  <div class="cl">&nbsp;</div>
  <div id="content">
    <!-- Box -->
    <div class="box">
      <!-- Box Head -->
      <div class="box-head">
        <h2>Add New Article</h2>
      </div>
      <!-- End Box Head -->
        <%= form_for(@admin_category) do |f| %>

        <% if @admin_category.errors.any? %>
          <%#= render partial: "admin/shared/validate_error", locals: { object: @admin_category}%>
        <% end %>

        <!-- Form -->
        <div class="form">
          <p>
            <span class="req">max 100 symbols</span>
            <%= f.label :name, "Category Name" %><span>(Required Field)</span>
            <%= f.text_field :name, class:"field size1" %>
          </p>
          
          <span>
              <%= f.fields_for :sub_categories do |sc| %>
                <%= render "admin/categories/sub_category", :f => sc %>
               <% end %> 
          </span> 

          <p class="sub-category"><!--Sub Category content--></p> 

      <div class="add button" type="submit">+| Sub category</div>
        </div>
        <!-- End Form -->
        
        <!-- Form Buttons -->
        <div class="buttons">
          <%= link_to "Back", admin_categories_path, class:"button-back" %>
          <%= f.submit "Save Category", class:"button" %>
        </div>
        <!-- End Form Buttons -->
      <%end%>
    </div>
    <!-- End Box -->
  </div>
  <div class="cl">&nbsp;</div>
</div>

<!-- Sidebar -->
<div id="sidebar">
  <%= render :partial => "admin/shared/sidebar" %>
</div>
<!-- Sidebar -->
<script>
$(document).ready(function(){
  var id = 0;

  $(".add").click(function(){
    id = id +1;
    $(".sub-category").append("<span class='sub'><label id='sub_category'>Sub Category </label><input type='text' class='field size4 floating' id='sub_category_"+id+"' name='admin_category[sub_categories_attributes]["+id+"][name]'></input><a href='javascript:void(0)' onclick='javascript:$(this).parent().remove()'><img src='/assets/min.png' /></a><br><br></span>")
  })
})
</script>