<div class="panel panel-<%= @estimate == 'Out of Deadline' ? 'danger' : 'primary' %>">
      <div class="panel-heading">
            <i class="fa fa-bookmark fa-fw"></i>Add Comment
      </div>

      <div class="panel-body">
            <div class="row">
                   <div class="col-lg-12">
                          <%= form_for(@admin_journal_issue_comment, url: admin_journal_issue_comment_index_path, :html => {:multipart => true, remote: true}) do |f| %>
                                <%= f.hidden_field :journal_issue_id, value: @admin_journal_issue.id %>
                                <%= f.hidden_field :admin_id, value: current_admin.id %>
                                <p>
                                        <%= f.label :content, "Comment", class:" form_right" %>
                                        <%= f.text_area :content, class:"form-control" %>
                                </p>
                                <p>
                                        <%= f.label :comment_document, "Attach Files", class:" form_right" %>
                                        <%= file_field_tag :comment_document, id: "fileField", name:"admin_journal_issue_comment[journal_issue_comment_files_attributes][0][comment_document]" %>                                       
                                        <div id="sub-comment-file" dataId="1"></div>
                                        <button class="add sub-comment" onclick="add_attach_comment('1'); return false;">       
                                          <i class="fa fa-plus"></i> File
                                        </button>
                                </p>
                                <hr>
                                <button class="ajax btn btn-success"><i class="fa  fa-pencil fa-1x"></i>Comment</button>
                          <% end %>
                </div>
            </div>
      </div>
</div>
<script>
      function add_attach_comment(a){
        ids = a + 1;
        $("#sub-comment-file").append("<span class='parents'><input class='floating field size4 input-file' id='fileField' name='admin_journal_issue_comment[journal_issue_comment_files_attributes]["+ids+"][comment_document]' type='file'><a href='javascript:void(0)' onclick='javascript:$(this).parent().remove()'><img src='/assets/min.png' /></a><span class='clearfix'></span><br></span>")
        $(".sub-comment").attr("onclick", "add_attach_comment("+ids+"); return false;");
    }
    $(".ajax").click(function(){
        $("#ajax_loader").fadeIn();
    })
</script>