<div id="main" style="show_task">
      <div class="cl">&nbsp;</div>
      <div id="content">
            <!-- Box -->
            <div class="box">
            <!-- Box Head -->
                    <div class="box-head">
                        Edit Status Task
                    </div>
                    <%= form_for(@admin_journal_issue) do |f| %>
                          <% if @admin_journal_issue.errors.any? %>
                                  <%= render partial: "shared/validate_error", locals: { object: @admin_journal_issue}%>
                          <% end %>
                          <div class="form">
                                <%= f.hidden_field :journal_id, value: @admin_journal.id %>
                                <p class="project-issues-assign">
                                       <%= f.label :asignee, "Assign To", class:"floating form_right" %>
                                       <span class='right-data'>
                                              <%= f.select :asignee, options_for_select(@assign,@assigned), class:"field floating" %>
                                              <span class="error_assigned" dataId="1"></span>
                                       </span>
                                </p>

                                <p class="project-issues">
                                       <%= f.label :status_id, "Status Task", class:"floating form_right" %>
                                       <span class='right-data floating'>
                                              <%= f.select :status_id, options_for_select(@status,@statused) %>
                                              <span class="error_status" dataId="1"></span>
                                       </span>
                                       <span class='right-data  '>
                                              <span class='type'>
                                                    <%= f.select :type_id, options_for_select(@type, @typed), class:"field floating" %>
                                                    <span class="error_type" dataId="1"></span>
                                              </span>
                                              <span class='progress' style="display:none">
                                                    <%= f.select :progress, options_for_select(@progress, @progressed), class:"field floating" %> %
                                              </span>
                                       </span>
                                </p>

                                <p class="project-issues-watch">
                                       <%= label_tag :watchers, "Watchers", class:"floating form_right" %>
                                       <span class='right-data'>
                                              <% if @action == 'new' || @action == 'create' %>
                                                    <%= select_tag :watchers, options_for_select(@assign), class:"floating", name:"admin_journal_issue[journal_issue_asignees_attributes][0][admin_id]" %>
                                              <% end %>
                                              <%= f.fields_for :journal_issue_asignees do |f| %>
                                                    <span class="remove_wacthers">
                                                          <%= f.select :admin_id, options_for_select(@assign,@selected_assign[f.index][:admin_id]), class:"floating" %>
                                                          <% if f.index > 0 %>
                                                                <%= link_to image_tag("x-icon.png",class:"right-img"), destroy_add_rows_admin_journal_issues_path({id: @selected_assign[f.index][:journal_issue_id],admin_id: @selected_assign[f.index][:admin_id]}), method: :delete, remote: true, class:"add-designer", onclick:"javascript:$(this).parent().remove()"%>
                                                          <% end %> 
                                                    </span>
                                              <% end %>
                                              <%#= link_to image_tag("add.png"), add_row_watchers_admin_journal_issues_path({id_journal: @admin_journal.id}), remote: true %>
                                       </span>
                                </p>

                                <div class="buttons">
                                       <%= link_to "Cancel", "javascript:void(0)", class:"button floating edit-close" %>
                                       <%= f.submit "Edit", class:"button button-check", id:"button-create" %>
                                       <div class="cl">&nbsp;</div>
                                 </div>
                          </div>
                    <% end %>
            </div>
      </div>
</div>

<script>
$(".button-check").click(function(){
    if($("#admin_journal_issue_asignee").val() == ""){
        $(".error_assigned").html("Cannot be Blank!")
        return false
    }else{
        $(".error_assigned").html("")
    }

    if($("#admin_journal_issue_status_id").val() == ""){
        $(".error_status").html("Cannot be Blank!")
        return false
    }else{
        $(".error_status").html("")
    }

    if($("#admin_journal_issue_type_id").val() == ""){
        $(".error_type").html("Cannot be Blank!")
        return false
    }else{
        $(".error_type").html("")
    }
})
</script>