<div class="modal-dialog">
      <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title profile-header" id="myModalLabel">
                            <i class="fa fa-bookmark fa-fw"></i>#<%= @admin_journal_issue.no %> Editing Status
                    </h4>
            </div>
            <div class="modal-body">
                   <div class="row">
                          <div class="col-lg-12">
                                <%= form_for(@admin_journal_issue) do |f| %>
                                       <%= hidden_field_tag :temp_from, @admin_journal_issue.from %>
                                       <%= f.hidden_field :journal_id, value: @admin_journal.id %>
                                       <%= f.hidden_field :from, value: session[:session_admin] %>
                                        <p class="form-group form_costum assignee_select">
                                              <%= f.label :asignee, "Assign To" %> : 
                                              <%= f.select :asignee, options_for_select(@assign,@assigned) %>
                                              <span class="error_assigned" dataId="1"></span>
                                        </p>
                                        <p class="form-group form_costum">
                                              <%= f.label :status_id, "Status Task" %>
                                              <span class="clearfix"></span>
                                              <span class="select_costum_1 floating">
                                                    <%= f.select :status_id, options_for_select(@status,@statused) %>
                                                    <span class="error_status" dataId="1"></span>
                                              </span>
                                              <span class='progresses select_costum_2 floating'>
                                                    <%= f.select :progress, options_for_select(@progress, @progressed), class:"field floating" %> 
                                              </span>
                                              <span class="select_costum_2 floating">
                                                    <%= f.select :type_id, options_for_select(@type, @typed) %>
                                                    <span class="error_type" dataId="1"></span>
                                              </span>
                                      </p>
                                      <span class="clearfix"></span>
                                      <br>
                                       <p class="project-issues-watch group form_costum">
                                               <%= label_tag :watchers, "Quality Check" %>
                                                      <% if @action == 'new' || @action == 'create' %>
                                                            <%= select_tag :watchers, options_for_select(@assign), class:"floating", name:"admin_journal_issue[journal_issue_asignees_attributes][0][admin_id]" %>
                                                      <% end %>
                                                      <%= f.fields_for :journal_issue_asignees do |f| %>
                                                            <span class="remove_wacthers">
                                                                  <%= f.select :admin_id, options_for_select(@assign,@selected_assign[f.index][:admin_id]), class:"floating" %>
                                                                  <% if f.index > 0 %>
                                                                        <%= link_to image_tag("x-icon.png",class:"right-img"), destroy_add_rows_admin_journal_issues_path({id: @selected_assign[f.index][:journal_issue_id],admin_id: @selected_assign[f.index][:admin_id]}), method: :delete, remote: true, class:"add-designer", onclick:"javascript:$(this).parent().remove()"%>
                                                                  <% end %> 
                                                            </span>
                                                      <% end %>
                                       </p>
                                       <div class="modal-footer" style="margin-bottom:-10px">
                                              <%= f.submit "Edit", class:"btn btn-success floating button-check" %>
                                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                       </div>
                                <% end %>
                          </div>
                   </div>
            </div>
      </div>
</div>
<%= javascript_include_tag "dashboard/form_validates_journal" %>