<div id="main">
      <div class="cl">&nbsp;</div>
      <div id="content">
            <!-- Box -->
            <div class="box">
            <!-- Box Head -->
                    <div class="box-head">
                          <h2><b><%= @admin_journal.title %></b> Issue form</h2>
                    </div>
            <!-- End Box Head -->
                    <%= form_for(@admin_journal_issue, :html => {:multipart => true}) do |f| %>
                          <% if @admin_journal_issue.errors.any? %>
                                  <%= render partial: "shared/validate_error", locals: { object: @admin_journal_issue}%>
                          <% end %>
                          <!-- Form -->
                          <div class="form">
                                <%= f.hidden_field :journal_id, value: @admin_journal.id %>
                                <p>
                                      <%= f.label :no, "Number", class:"floating form_right" %>
                                      <span class='right-data'>#<%= @number %></span>
                                              <%= f.hidden_field :no, value: @action == 'new' || @action == 'create' ? @number : @number, class:"field size2" %>
                                </p>
                                <p>
                                       <span class="req">max 100 symbols</span>
                                       <%= f.label :title, "Task Title" %><span>(Required Field)</span>
                                       <%= f.text_field :title, class:"field size1" %>
                                </p> 
                                <p class="project-issues-assign">
                                       <%= f.label :asignee, "Assign To", class:"floating form_right" %>
                                       <span class='right-data'>
                                              <%= f.select :asignee, options_for_select(@assign,@assigned), class:"field floating" %>
                                       </span>
                                </p>
                                <p class="project-issues">
                                       <%= f.label :status_id, "Status Task", class:"floating form_right" %>
                                       <span class='right-data floating'>
                                              <%= f.select :status_id, options_for_select(@status,@statused) %>
                                       </span>
                                       <span class='right-data  '>
                                              <span class='type'>
                                                    <%= f.select :type_id, options_for_select(@type, @typed), class:"field floating" %>
                                              </span>
                                              <span class='progress' style="display:none">
                                                    <%= f.select :progress, options_for_select(@progress, @progressed), class:"field floating" %> %
                                              </span>
                                       </span>
                                </p>
                                <p>
                                        <%= f.label :priority, "Priority Task", class:"floating form_right" %>
                                       <span class='right-data'>
                                              <%= f.select :priority, options_for_select(@priority,@priorited), class:"field floating" %>
                                       </span>
                                </p>
                                <p class="project-issues-watch">
                                       <%= label_tag :watchers, "Watchers", class:"floating form_right" %>
                                       <span class='right-data'>
                                              <% if @action == 'new' || @action == 'create' %>
                                                    <%= select_tag :watchers, options_for_select(@assign), class:"floating", name:"admin_journal_issue[journal_issue_asignees_attributes][0][admin_id]" %>
                                              <% end %>
                                              <%= f.fields_for :journal_issue_asignees do |f| %>
                                                    <span class="remove-wacthers">
                                                          <%= f.select :admin_id, options_for_select(@assign,@selected_assign[f.index][:admin_id]), class:"floating" %>
                                                          <% if f.index > 0 %>
                                                                <%= link_to image_tag("x-icon.png",class:"right-img"), destroy_add_rows_admin_journal_issues_path({id: @selected_assign[f.index][:journal_issue_id],admin_id: @selected_assign[f.index][:admin_id]}), method: :delete, remote: true, class:"add-designer", onclick:"javascript:$(this).parent().remove()"%>
                                                          <% end %> 
                                                    </span>
                                              <% end %>
                                              <span class="sub-watch" dataId="1"><!-- add designer place --></span>
                                              <%#= link_to image_tag("add.png"), add_row_watchers_admin_journal_issues_path({id_journal: @admin_journal.id}), remote: true %>
                                              <div class="cl">&nbsp;</div>
                                       </span>
                                </p>
                                <p>
                                        <%= f.label :content, "Content" %>
                                        <%= f.text_area :content, class:"field size1", cols: 10, rows: 30, :class => 'ckeditor' %>
                                </p>
                                <p>
                                        <div class="buttons" style="text-align:left">
                                        	<%= label_tag :image, "Attach Images" %>
                                        	<hr><br>
	                                        <% @admin_journal_issue.journal_issue_images.each do |image| %>
	                                              <span class="checks">
	                                                   	<input type="checkbox" class="check-self" name="selected[]" id="<%= "selected-#{image.id}" %>" value="<%= image.id %>" />Delete
	                                              </span>
	                                              <span class="multiple-borders">
	                                                    <%= link_to image_tag(image.image.url(:original), class:"img_profile_issue", style:"width:25%;height:25%"),"javascript:void(0)"%> 
	                                             </span>
	                                        <% end %>
	                                  </div>
	                                  <br>
                                        <div class="foto_prev"></div>
                                        <%= file_field_tag :image, class:"field size4 input-file", id: "fileField", :onchange => "readURLJournal(this);", name:"admin_journal_issue[journal_issue_images_attributes][0][image]" %>
                                        <br>
                                        <div class="sub-images" dataId="1"><!-- add images place --></div>
                                        <div class="add add_images button" type="submit">+| Images</div>
                                </p>  
                                
                                <p>
                                      <div class="buttons" style="text-align:left">
                                        	<%= label_tag :image, "Attach FIles" %>
                                        	<hr><br>
                                        	<% @admin_journal_issue.journal_issue_files.each do |file| %>
                                        		<span class="checks">
	                                                   	<input type="checkbox" class="check-self" name="selected_files[]" id="<%= "selected-#{file.id}" %>" value="<%= file.id %>" />Delete
	                                              </span>
                                              	<%= generated_file_type(file).html_safe %>
                                        	<% end %>
                                       </div>
                                       <br>
                                       <%= file_field_tag :file, class:"field size4 input-file", id: "fileField", name:"admin_journal_issue[journal_issue_files_attributes][0][file]" %>
                                       <br>
                                      <div class="sub-files" dataId="1"><!-- add files place --></div>
                                      <div class="add add_files button" type="submit">+| Files</div>
                                </p>
                                
                                <p class="project-issues">
                                        <%= f.label :start %>
                                        <%= f.date_select :start %>
                                </p>
                                <p>
                                        <%= f.label :end %>
                                        <%= f.date_select :end %>
                                </p>
                                <div class="buttons">
                                       <%= link_to "Cancel", session[:urlBack], class:"button floating" %>
                                       <%= f.submit "Create", class:"button", id:"button-create" %>
                                       <div class="cl">&nbsp;</div>
                                 </div>
                          </div>
                          <!-- End Form -->
                    <% end %>
            </div>
      </div>
</div>
<!-- Sidebar -->
<div id="sidebar">
  <%= render :partial => "admin/shared/sidebar" %>
</div>
<!-- Sidebar -->
<%= javascript_include_tag "admin/journal" %>
<div id="modal_background"></div>
<div id="image-popups"></div>