<%= stylesheet_link_tag "progress", :media => "all" %>
<!-- Main -->
<div id="main">
  <div class="cl">&nbsp;</div>
  
  <!-- Content -->
  <div id="content">
    
    <!-- Box Article -->
    <div class="box">
      <!-- Box Head -->
      <div class="box-head">
        <h2 class="left header_link"><b><%= link_to admin_journal.title, admin_journal_issues_path(journal_id: admin_journal.id) %></b> Journals</h2>
        <%#= render 'admin/shared/search' %>
      </div>                               
      <!-- End Box Head --> 

      <!-- Table -->
      <div class="table">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-striped">
          <tr>
            <th width="55px">Task No</th>
            <th width="120px">Status</th>
            <th width="50px">Priority</th>
            <th>Descriptions</th>
            <th>Progress</th>
            <th colspan="2" class="ac" width="5px">Content Control</th>
          </tr>
          <% if admin_journal.journal_issues.data_existed(current_admin,"home") == [] %>
            <tr class="odd">
              <td colspan="9">
                <center>No Tasks yet</center>
              </td>
            </tr>
          <%end%>
          <% @journal_issues =  admin_journal.journal_issues.order("created_at DESC").data_existed(current_admin,"home").paginate(:page => params[:page], :per_page => 20) %>
          <% @journal_issues.each do |admin_journal_issue| %>
                <%= render :partial => "admin/journal_issues/index_body", locals: {admin_journal_issue: admin_journal_issue, admin_id: admin_journal.admin_id} %>
      	   <% end %>
          <% if @pagging_status.blank? && admin_journal.journal_issues.data_existed_count(current_admin,"home").count > 20 %>
                  <tr>
                      <td colspan="7">
                          <center><%= link_to "Show All Data", admin_journal_issues_path(journal_id: admin_journal.id) %></center>
                      </td>
                  </tr>
          <% end %>
       </table>
      <!-- Pagging -->
       <div class="pagging">
       <% if admin_journal.admin_id == current_admin.id %>
          <%= link_to 'New Journal', new_admin_journal_issue_path(id_journal: admin_journal.id), class:"tab-right-button button floating journal" %>
       <% end %>
          <div class="left">Journal Total: <b><%= admin_journal.journal_issues.data_existed_count(current_admin,"home").count %></b> Journals</div>
          <div class="right">
            <span id="multi_pagging">
              <% unless @pagging_status.blank? %>
                  <%= will_paginate @journal_issues %>
              <% end %>
            </span>
          </div>
       </div>
      <!-- End Pagging -->
     </div>
   </div>
 </div>
</div>