<tr class="<%= generated_priority(admin_journal_issue.priority) %>">
	<td ><%= link_to "##{admin_journal_issue.no}", admin_journal_issue_path(id: admin_journal_issue.id,id_journal: admin_journal_issue.journal_id),  title:"<b>Assign</b><br>#{find_profile(admin_journal_issue.asignee).name} #{find_profile(admin_journal_issue.asignee).last_name}", class:"masterTooltip" %></td>
	<td><%= generated_status(admin_journal_issue.status_id).html_safe %></td>
	<td><%= generated_priority(admin_journal_issue.priority) %></td>
	<td><%= link_to truncate(admin_journal_issue.title, length: 60), admin_journal_issue_path(id: admin_journal_issue.id,id_journal: admin_journal_issue.journal_id),  title:"<b>Assign</b><br>#{find_profile(admin_journal_issue.asignee).name} #{find_profile(admin_journal_issue.asignee).last_name}", class:"masterTooltip" %></td>
	<td>
		<div id="progres_bar">
	            <div class="progress" style="margin-bottom:0px;">
		             <div class="progress-bar" style="width:<%= admin_journal_issue.progress %>%;">
		                	<%= admin_journal_issue.progress.blank? ? 0 : admin_journal_issue.progress %>%
		              </div>
		       </div>
	       </div>
	</td>
	<% if admin_id == current_admin.id %>
		<td width="5px"><%= link_to 'Edit', edit_admin_journal_issue_path(admin_journal_issue, id_journal: admin_journal_issue.journal_id), class:"ico edit" %></td>
		<td width="5px"><%= link_to 'Destroy', admin_journal_issue, method: :delete, data: { confirm: 'Are you sure?' }, class:"ico del" %></td>
	<% else %>
		<td colspan="2"><center>Not Allowed</center></td>
	<% end %>
</tr>