<div id="main">
  <div class="cl">&nbsp;</div>
  
  <!-- Content -->
  <div id="content">
    
    <!-- Box Article -->
    <div class="box">
      <!-- Box Head -->
      <div class="box-head">
        <h2 class="left">Projects <%= generated_status(params[:journal_issue_id].to_i).html_safe %></h2>
        <%= render partial:'admin/shared/search', locals:{status: "journal"} %>
      </div>                               
      <!-- End Box Head --> 

       <!-- Table -->
      <div class="table">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-striped">
                <tr>
                    <th width="13">No</th>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Assign</th>
                    <th><center>Issue</center></th>
                    <th><center>Estimated Time</center></th>
                    <th colspan="2" class="ac">Content Control</th>
                  </tr>
            <% @admin_journals_status.each_with_index do |admin_journal,n| %>
                <tr>
                  <td><%= n + 1 %>.</td>
                  <td><%= link_to admin_journal.title, admin_journal_path(admin_journal) %></td>
                  <td><%= generated_status(admin_journal.status_id).html_safe %></td>
                  <td>
                        <%= link_to "#{estimated_asignee(admin_journal.id)} people Assign", admin_journal_path(admin_journal), remote: true, title:"#{raw estimated_asignee_list(admin_journal.id)}", class:"masterTooltip" %>
                  </td>
                  <td><center><b><%= admin_journal.journal_issues.data_existed_count(current_admin,"home").count %></b></center></td>
                  <td> <center><b>
                                <% if truncate(estimated_time(admin_journal.end).to_s, length: 1).to_i == 0 %>
                                      <%= link_to "Now is Deadline", admin_journal_path(admin_journal), remote: true, title:"<b>Start</b><br>#{ admin_journal.start.strftime('%d/%b/%Y')} <br><br> <b>End</b><br> #{admin_journal.end.strftime('%d/%b/%Y')}", class:"masterTooltip" %>
                                <% elsif truncate(estimated_time(admin_journal.end).to_s, length: 1).to_i < 0 %>
                                      <%= link_to "Out of Deadline", admin_journal_path(admin_journal), remote: true, title:"<b>Start</b><br>#{ admin_journal.start.strftime('%d/%b/%Y')} <br><br> <b>End</b><br> #{admin_journal.end.strftime('%d/%b/%Y')}", class:"masterTooltip" %>
                                <% else %>
                                      <%= link_to "#{truncate(estimated_time(admin_journal.end).to_s, length: 1).to_i} day left", admin_journal_path(admin_journal), remote: true, title:"<b>Start</b><br>#{ admin_journal.start.strftime('%d/%b/%Y')} <br><br> <b>End</b><br> #{admin_journal.end.strftime('%d/%b/%Y')}", class:"masterTooltip" %>
                                <% end %>
                            </b></center></td>          
                  <% if admin_journal.admin_id == current_admin.id %>
                        <td  width="5px">
                              <%= link_to 'Edit', edit_admin_journal_path(admin_journal), remote: true, class:"ico edit"%>
                        </td>
                        <td  width="5px">
                              <%= link_to 'Destroy', admin_journal_path(admin_journal), method: :delete, data: { confirm: 'Are you sure?' }, :class => "ico del" %></td>
                  <% else %>
                          <td  colspan="2"><center>Not Allowed</center></td>
                  <% end %>
                </tr>
            <%end%>
            </table>
              <div class="pagging">
              <%= link_to 'New Project', new_admin_journal_path, remote: true, class:"tab-right-button button floating journal" %>
              <!-- <div class="left">Projects In Progress Total: <b><%= @admin_journals_status.count %></b> Projects</div> -->
            </div>
      </div>
  </div>
</div>
</div>

<!-- Modal Place -->
<div id="modal_background"></div>
<div class="show_modal_add_journal"></div>
<!-- End Modal Place -->
<script>
$(document).ready(function() {
        $('.masterTooltip').hover(function(){
                var title = $(this).attr('title');
                $(this).data('tipText', title).removeAttr('title');
                $('<p class="tooltip"></p>')
                .html(title)
                .appendTo('body')
                .fadeIn('slow');
        }, function() {
                $(this).attr('title', $(this).data('tipText'));
                $('.tooltip').remove();
        }).mousemove(function(e) {
                var mousex = e.pageX + 20; 
                var mousey = e.pageY + 10; 
                $('.tooltip')
                .css({ top: mousey, left: mousex })
        });
});
</script>