<%= form_for(:dashboard_comment, url: dashboard_comments_path, remote: true) do |f| %>
	<%= f.hidden_field :admin_id, value: admin.id %>
	<div class="field ">
	      <%= f.text_field :name, placeholder:"Name", class:"size-1-mini" %>
	      <div id="error_name" class="error"></div>
	</div>
	<div class="field mini-field">
      		<%= f.text_field :email, placeholder:"E-mail", class:"size-1-mini" %>
    	</div>
    	<div class="field mini-field">
    		<span class="mini">
      			<%= f.text_area :body, placeholder:"Comment",class:"size-1-mini",id:"textarea-label" %>
      		</span>
      		<div id="error_body" class="error"></div>
    	</div>
    		<div class="link_button mini-field up" style="float:right; margin:-28px 0px 0px 10px !important;">
        		<%= link_to "Send ...", "javascript:void(0)", id:"submit-form", dataId:"contact_for_admin", profileEmail:"#{admin.e_mail}" %>
        	</div>
<% end %>