<style type="text/css">
	.up{
		margin-top: -3px !important;
	}	
	.left{
		margin-left: 0px !important;
	}
</style>

<% admin_comments.each do |admin_comment| %>
	<div id="comment-list" class="mini-field">
		<span class="time"><%= "#{admin_comment.created_at.strftime('%d %b %Y')}"  %></span>
		<p>
			<label><b>Name :</b></label> 
			<span><%= admin_comment.name %></span>
		</p>
		    
		<p>
			<label><b>Comment :</b></label> 
			<span><%= admin_comment.body %></span>
		</p>
	</div>
	<span class="clear"></span>
	  	<% admin_comment.reply_contacts.each do |reply| %>
	      		<div id="reply-view" class="left">
	          		<span style="font-size:9px">Reply from</span> 
	          		<%= "#{admin.name} #{admin.last_name}" %>:<br>
	          		<div class='up'><%= reply.body %></div>
	      		</div>
	      		<div class="clear border-bottom"></div>
	  	<% end %>
<% end %>