<div id="modal_profile" class="styled">
	<div id="top_modal">
		
	</div>
	<!-- The class for main profile -->
	<div class="scroller floating" style="float:left">
		<div class="formProfile">
		    <div id="content">
		      <!-- Box -->
		      
		        <!-- Form -->
		          
		              <div class="left-photo">
		                  <div class="foto_prev_profile">
		                    <center>
		                    	
		                    	<%= image_tag "http://res.cloudinary.com/sampulkreativ/image/upload#{loaded_rand("profile", @admin_profile.id)}/profiles/#{@admin_profile.id}",class:"img_profile", width:"220px" %>
		                    	<h4><%= "#{@admin_profile.name} #{@admin_profile.last_name}" %></h4>
		                    </center>
		                  </div>
		              </div>    
		             <br>
		            <div id="form_edit">
		                <%= render partial:"admin/profiles/detail", locals:{admin_profile: @admin_profile, not_current: 'yes'} %>
		            </div>
		          <!-- End Form -->
		      
		      <!-- End Box -->
		    
		    
		</div>
	</div>
	<!-- The class for comment profile -->
	<div class="scroller_comment">
		<div class="formProfile">
			<div class="message">
				<%= render partial: "dashboard/profiles/index_comment", locals: {admin_comments: @admin_comments, admin: @admin_profile} %>
				<div id="comment-place-admin"><!-- Comment place from render partial admin --></div>
				<%= render 'dashboard/shared/ajax_loader' %>
				Send Message for <b><%= "#{@admin_profile.name} #{@admin_profile.last_name}" %></b>
				<div id="comment-field" >
					<%= render partial: 'dashboard/profiles/form', locals:{admin: @admin_profile} %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= javascript_include_tag "scroller" %>
<%= javascript_include_tag "dashboard/form_validates" %>

<script>
	$(document).ready(function(){
		$("#modal_profile").fadeIn();
		$( '.close-modal-profile' ).click(function( ev ) {  $( '#modal_profile, #modal_background' ).fadeOut();  ev.preventDefault();} );
	})
</script>