<style type="text/css">
  .up{
      margin-top: -18px !important;
  }
</style>

<!-- <div id="index-place">
  <div id="main_column">
      <div class="post_box">
        <div class="date_box">
        </div> -->
        <div class="post-title">
            <h2><a href="#"><%= @company_profile.name %></a></h2>
        </div>
        <div class="post-entry">
            <p>
                  <%= image_tag "http://res.cloudinary.com/sampulkreativ/image/upload#{loaded_rand("company", @company_profile.id)}/company/#{@company_profile.id}", style:"margin-left: 5px; margin-right: 5px;",alt:"",align:"left", width:"272" %>
                    <div id="company_profile">
                          <p>
                                  <b>Company Name:</b> 
                                  <%= @company_profile.name %>
                          </p>
                          <p>
                                  <b>Company Motto: </b>
                                  <%= @company_profile.motto %>
                          </p>
                          <p>
                                  <b>Company Vision: </b>
                                  <%= raw @company_profile.vission %>
                          </p>
                          <p>        
                                  <b>Company Mision: </b>
                                  <%= raw @company_profile.mission %>
                          </p>
                          <p>
                                  <b>Company Address: </b>
                                  <%= raw @company_profile.address %>
                          </p>
                    </div>
            </p>
            <div class="clear"></div>
            <br>
            <%= render partial: "dashboard/profiles/admins", locals: {admins: @admins} %>
            <div class="cl"><br></div>
            <div id="comment-field">
              <p>Contact Us!</p>
              <div id="notice-place"></div>
              <%= render :partial => "dashboard/company_comments/index", locals: {dashboard_comments: @company_comments} %>
              <div id="comment-place"><!-- Comment place from render partial --></div>
              <%= render 'dashboard/shared/ajax_loader' %>
              
              <%= render partial: 'dashboard/company_comments/form', locals: {status: 'contact_for_all_admins'} %>
            </div>
            <div class="link_button">
              <%= link_to "Back ...", root_path %>
            </div>
          </div> 
<!--         </div>
      </div>
    </div>
</div> -->