<div id="main">
      <div class="cl">&nbsp;</div>
      <div id="content">
        <!-- Box -->
             <div class="box">
                <!-- Box Head -->
                    <div class="box-head">
                      <h2>Add New Advertise</h2>
                    </div>
                    <!-- End Box Head -->
                    <div class="form">
                          <%= form_for(@admin_advertise, :html => {:multipart => true} ) do |f| %>
                                <% if @admin_advertise.errors.any? %>
                                        <%= render partial: "shared/validate_error", locals: { object: @admin_advertise}%>
                                <% end %>
                            <p>
                              <%= f.label :image %>
                              <%= f.file_field :image, class:"field size4 input-file floating", id: "fileField", :onchange => "readURL(this);" %>
                             <%= f.select :status, options_for_select([["Hide", false], ["Show", true]]) %>
                            </p>
                            <p>
                                <div class="foto_prev">
                                      <%#= image_tag @article.photo.url(:original),class:"img-data" %> 
                                </div>
                            </p>
                            <div class="cl">&nbsp;</div>
                            <br>
                                <div class="buttons">
                                      <%= link_to "Back", session[:urlBack], class:"button-back" %>
                                      <%= f.submit "Save Advertise", class:"button" %>
                                </div>
                          <% end %>
                    </div>
             </div>
             <!-- End Box -->
      </div>
      <div class="cl">&nbsp;</div>
</div>

      <!-- Sidebar -->
      <div id="sidebar">
            <%= render :partial => "admin/shared/sidebar" %>
      </div>
<!-- Sidebar -->
<div id="modal_background"></div>