<!-- Main -->
<div id="main">
  <div class="cl">&nbsp;</div>
  
  <!-- Content -->
  <div id="content">
    
    <!-- Box Article -->
    <div class="box">
      <!-- Box Head -->
      <div class="box-head">
        <h2 class="left">Current Advertise</h2>
      </div>                          
      <% unless @admin_advertise.blank? %>
            <% if @admin_advertise.errors.any? %>
                    <%= render partial: "shared/validate_error", locals: { object: @admin_advertise}%>
            <% end %>     
      <% end %>     
      <!-- End Box Head --> 
      <div class="table">
            <% if @admin_advertises.blank? %>
                   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-striped">
                          <tr><td><center>No Advertise(s) yet</center></td></tr>
                    </table>
            <% end %>

             <% @admin_advertises.each do |admin_advertise| %>
                <table style="padding:10px" class="floating">
                    <tr>
                          <td width="50px">
                                <% if admin_advertise.status == true %>
                                       <%= link_to "Show", edit_admin_advertise_path(admin_advertise, status: false), class:"ico floating", style:"margin: 3px 0px -15px 10px" %>
                                       <%= link_to image_tag("open_eye.png", width:"35%", style:"margin-top:-3px"), edit_admin_advertise_path(admin_advertise, status: false) %>
                                <% else %>
                                        <%= link_to "HIde", edit_admin_advertise_path(admin_advertise, status: true), class:"ico floating", style:"margin: 3px 0px -15px 10px" %>
                                       <%= link_to image_tag("close_eye.png", width:"35%", style:"margin-top:2px"), edit_admin_advertise_path(admin_advertise, status: true) %>
                                <% end %>
                          </td>
                          <td width="50px">
                                  <%= link_to 'Destroy', admin_advertise, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ico del" %>
                          </td>
                    </tr>
                    <tr>
                          <td colspan="2">
                                  <%= cl_image_tag "advertises/#{admin_advertise.id}", width:"125px", height:"125px" %>
                          </td>
                    </tr>
                    <tr>
                          <td colspan="2">
                                  <span class="linked_<%= admin_advertise.id %>">
                                        <%= admin_advertise.link.blank? ? "example.com" : truncate(admin_advertise.link, length: 13) %>
                                        <%= link_to image_tag(admin_advertise.key == "lock" ? "lock.png" : "open.png", width:"10%", style:"float:right"), edit_lock_admin_advertises_path(id: admin_advertise.id, key: admin_advertise.key == "lock" ? "open" : "lock"), remote: true %>
                                  </span>
                          </td>
                    </tr>
                </table>
          <% end %>
          <div class="cl">&nbsp;</div>
      <!-- Pagging -->
        <div class="pagging">
          <%= link_to 'New Advertise', new_admin_advertise_path, class:"tab-right-button button journal" %> 
          <div class="left">&nbsp;Advertises Total: <b><%= @admin_advertises.count %></b> Advertises</div>
          <div class="right">
            <%= will_paginate @admin_advertises %>
          </div>
        </div>
        <!-- End Pagging -->
      </div>
      <!-- Table -->
    </div>
    <!-- End Box Article -->
  </div>
  <!-- End Content -->
  
  <div class="cl">&nbsp;</div>      
</div>
<!-- Main -->

<!-- Sidebar -->
<div id="sidebar">
  <%= render :partial => "admin/shared/sidebar" %>
</div>
<!-- Sidebar -->
<div id="modal_background"></div>