<style type="text/css">
  
</style>
<!-- Header -->
<div id="header">
  <div class="shell">
    <!-- Logo + Top Nav -->
    <div id="top">
      <h1><a href="#">My-Journal</a></h1>
      <div id="top-navigation">
        Welcome <%= link_to "Administrator", admin_root_path %></a>
        <span>|</span>
        <a href="#">Help</a>
        <span>|</span>

        <% if Admin::Profile.last != nil %>
          <%= link_to "Profile Setting", edit_admin_profile_path(Admin::Profile.last.id) %>
        <% else %>
          <%= link_to "Profile Setting", new_admin_profile_path %>
        <% end %>
        
        <span>|</span>
        <%= link_to "Logout", destroy_admin_session_path, :method => :delete%>
      </div>
    </div>
    <!-- End Logo + Top Nav -->
    
    <!-- Main Nav -->
    <div id="navigation">
      <ul>
          <!-- <li><a href="#" class="active"><span>Dashboard</span></a></li> -->
          <li>
          <%= link_to "Dashboard", admin_root_path, class:"tab-right" %>
          </li>
          <li>
            <%= link_to "Article", admin_articles_path, class:"tab-right" %>
          </li>
          <li>
            <%= link_to "Category", admin_categories_path, class:"tab-right" %>
          </li>
          <li>
            <%#= link_to "Category", admin_category_index_path, class:"tab-right" %>
          </li>
          <li>
            <%#= link_to "Company", admin_companies_path, class:"tab-right" %>
          </li>
      </ul>
    </div>
    <!-- End Main Nav -->
    <!-- Small Nav -->
    <!-- <div class="small-nav">
      <a href="#">Dashboard</a>
      <span>&gt;</span>
      <%#= link_to "#{admin_root_path}", url_request, class:"#{url_request}" %>
    </div> -->
  </div>
</div>
<!-- End Header -->
<br><br>