<div class="right">
<% if status.present? %>
	<%= form_tag project_search_admin_journals_path, method: :get do %>
		<%= label_tag :title, "Search Journal" %>
		<%= text_field_tag :title, "",placeholder:"Project Name", class:"field small-field" %>
		<%= submit_tag "Search", class:"button" %>
	<% end %>
<% else %>
  	<%= form_tag article_search_admin_articles_path, method: :get do %>
  	  	<%= label_tag :title, "Search Articles" %>
	  	<%= text_field_tag :title, "",placeholder:"Title", class:"field small-field" %>
	  	<%= submit_tag "Search", class:"button" %>
	<% end %>
<% end %>
</div>