<div class="right">
<<<<<<< HEAD
<% if status.present? %>
	<%= label_tag :title, "Search Project" %>
<% else %>
=======
>>>>>>> 6ae2c9af0e53d1bd0f7f6f3786317fc15b991ded
  	<%= form_tag article_search_admin_articles_path, :method => :get do %>
  	  	<%= label_tag :title, "Search Articles" %>
	  	<%= text_field_tag :title, "",placeholder:"Title", class:"field small-field" %>
	  	<%= submit_tag "Search", class:"button" %>
	<% end %>
<<<<<<< HEAD
<% end %>
=======
>>>>>>> 6ae2c9af0e53d1bd0f7f6f3786317fc15b991ded
</div>