
<!DOCTYPE html>
<html>
<head>
  <title>MyJournal</title>
  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "jqueryindex", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'dashboard/shared/header_content' %>
<div id="templatemo_content_wrapper">
	<div id="templatemo_content">
    <div id="templatemo_main_content_top"></div>

    <div id="templatemo_main_coontent">
      <%= render 'dashboard/shared/sidebar' %>
		<%= yield %>
        <div class="cleaner"></div> 
      </div> <!-- end of main content in Sidebar -->
      <div id="templatemo_main_content_bottom"></div>  
      
      <div class="post_content">
        <div class="link_button">
          <div id="pagging-left">
              <%= will_paginate @articles %> 
          </div>
        </div>
      </div>
      
    </div>  
  </div> 
</div>
<%= render 'dashboard/shared/footer' %>
</body>
</html>
<%= javascript_include_tag "ckeditor/truncate", "data-turbolinks-track" => true %>
<%= javascript_include_tag "jquerycssmenu", "data-turbolinks-track" => true %>