<!DOCTYPE html>
<html>
	<head>
		<title><%= @status.blank? ? "My Journal" : @article.title %></title>
		<!--[if IE]><%= stylesheet_link_tag    "style_ie", media: "all", "data-turbolinks-track" => true %><![endif]-->
		<!--[if lt IE 7]><%= stylesheet_link_tag    "style_ie6", media: "all", "data-turbolinks-track" => true %><![endif]-->
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	</head>
	<body>
		<!-- HEADER -->
			<%= render 'dashboard/shared/header_content' %>
		<!-- END HEADER -->

		<!-- COMPANY NAME -->
	          	<div class="header_background clearfix">
				<div class="container paddingdown5x ">
					<div class="row row-offcanvas row-offcanvas-left">
						<div class="col-xs-12 col-sm-3 side pull-left sidebar-offcanvas" id="sidebar" role="navigation">
							Sampulkreativ Blogroll
							<nav class="clearfix"></nav>
							<span>We have all for creative feature</span>
						</div>
					</div>
				</div>
			</div>
		<!-- END COMPANY NAME -->

		<!-- MAIN CONTENT -->
			<div class="container clearfix">
				<div class="row">
					<%= render 'dashboard/shared/sidebar' %>
					<div id="index-place-for-articles">
						<%= yield %>
					</div>
				</div>
			</div>
		<!-- END MAIN CONTENT -->
		<nav class="clearfix down2x"></nav>
		<!-- FOOTER SECTION -->
			<footer>
				<div class="container clearfix">
					<div class="row">
						<%= render 'dashboard/shared/footer' %>
					</div>
				</div>
			</footer>
		<!-- END FOOTER SECTION -->

		<!-- END FOOTER -->
			<%= render "dashboard/shared/end_footer" %>
		<!-- END END FOOTER -->

		<!-- MODAL -->
			<%= render 'dashboard/shared/modal' %>
		<!-- END MODAL -->

		<!-- PROGRESSBAR -->
			<%= render 'dashboard/shared/loading' %>
		<!-- END PROGRESSBAR -->
	</body>
</html>